.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    display: block;
    content: "";
    background: #000;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay .section-content {
    position: relative;
    z-index: 1;
}